body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

#inventory {
    margin-top: 20px;
}

.food_button {
    background-color: #A7C957;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}