body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#inventory {
    margin-top: 10px;
}

#inventory div {
    margin-bottom: 20px;
}

.food_button {
    background-color: #A7C957;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margins */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.food_button:hover {
    background-color: #45a049; /* Darker green on hover */
}